
.marquee {
  overflow: hidden;
  width: 100%;
  position: relative;
  height: 100px;
}

.track {
  display: flex;
  width: fit-content;
  animation: marquee 20s linear infinite;
  align-items: center;
  height: 100%;
}

.item {
  flex: 0 0 auto;
  margin: 0 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media (max-width: 600px) {
  .marquee {
    height: 70px;
  }
  .item {
    margin: 0 0.5rem;
  }
  .track {
    animation-duration: 12s;
  }
}
